<div style="float: left ;margin-right: 3px; width: 48%">
<!--  <app-querylist (onQuery)="onquery($event)"></app-querylist>-->
  <div>
<!--    <br><p><b>历史运行数据</b></p><button class="topbutton" [value]="this.value" (click)="getValueOpen()">开机时长</button>-->
    &nbsp;&nbsp;<button class="topbutton"  [value]="this.value" (click)="getValueRun()">运行时长</button>
    &nbsp;&nbsp;<button class="topbutton"  [value]="this.value" (click)="getValueWait()">待机时长</button>
    &nbsp;&nbsp;<button class="topbutton"  [value]="this.value" (click)="getValueWarn()">故障时长</button>
  </div>
  <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]=begin nzSize="small" nzPlaceHolder="开始日期"></nz-date-picker>  &nbsp;&nbsp;
  <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]=end nzSize="small" nzPlaceHolder="结束日期"></nz-date-picker>
  &nbsp;&nbsp;&nbsp;<Button class="topbutton"  (click)="getYxsjtj()">搜索</Button>
  <div id="container" style="width:100%; height: 300px; margin-top: 10px; margin-left: 10px;"></div>
<br>



  <div *ngIf="operation.indexOf(4)!=-1">
  <nz-table #basicTable [nzData]="runs">
    <thead>
    <tr>
      <th>序号</th>
      <th>机器人</th>
      <th>运行时长</th>
      <th>待机时长</th>
      <th>故障时长</th>
      <th>日期</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ basicTable.data.indexOf(data) + 1}}</td>
      <td>{{ data.robot.name}}</td>
      <td>{{ data.run}}</td>
      <td>{{ data.wait}}</td>
      <td>{{ data.warn}}</td>
      <td>{{ data.time | date:'yyyy.MM.dd'}}</td>
    </tr>
    </tbody>
  </nz-table>
  </div>

</div>

<div style="float: right;margin-right: 10px; width: 46%">
  <br><p><b>历史报警数据</b></p>
  <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]=begin nzSize="small" nzPlaceHolder="开始日期"></nz-date-picker>
  <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]=end nzSize="small" nzPlaceHolder="结束日期"></nz-date-picker>
  &nbsp;&nbsp;&nbsp;<Button class="topbutton" (click)="getYxsjtj()">搜索</Button>

  <nz-table #basicTable2 [nzData]="troubles">
    <thead>
    <tr>
      <th>序号</th>
      <th>报警号</th>
      <th>内容</th>
      <th>位置</th>
      <th>所属机器人</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable2.data">
      <td>{{ basicTable2.data.indexOf(data) + 1 }}</td>
      <td>{{ data.num.id}}</td>
      <td>{{ data.num.description}}</td>
      <td>{{ data.location}}</td>
      <td>{{ data.robot.name}}</td>
      <td>{{ data.time | date:'yyyy-MM-dd' }}</td>
      <td>
        <button nz-button (click)="delete(data)"><span>删除</span></button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
