<button nz-button [nzType]="'primary'" (click)="showModal1()"><span>增加租赁</span></button>
<nz-modal [(nzVisible)]="isVisible1" nzTitle="add" (nzOnCancel)="handleCancel1()" (nzOnOk)="add()">
  <label>选择机器人所属公司:&nbsp;</label>
  <select [(ngModel)]="this.company" (change)="getRobotsByBelongingComapnyId(this.company.id)">
    <option *ngFor="let obj of companys" [ngValue]="obj">{{obj.name}}</option>
  </select><br>
  <label>选择机器人：</label>
<!--  <input nz-input [(ngModel)]="this.robot" />-->
  <select [(ngModel)]="this.robot">
    <option *ngFor="let obj of robots" [ngValue]="obj">{{obj.name}}</option>
  </select><br>

  <label>租用公司:&nbsp;</label>
  <select [(ngModel)]="this.company1">
    <option *ngFor="let obj of companys1" [ngValue]="obj">{{obj.name}}</option>
  </select><br>
  <label>合同编号:&nbsp;</label> <input nz-input  [(ngModel)]="this.contractId" />
  <label>月费用:&nbsp;</label> <input nz-input  [(ngModel)]="this.costMonth" />
  <label>缴费方式:&nbsp;</label> <input nz-input  [(ngModel)]="this.costWay" />
  <label>上传合同:&nbsp;</label> <input nz-input  [(ngModel)]="this.contract" />
  <label>联系人:&nbsp;</label> <input nz-input  [(ngModel)]="this.connector" />
</nz-modal>

<nz-table #basicTable [nzData]="leases">
  <thead>
  <tr>
    <th>序号</th>
    <th>机器人名称</th>
    <th>唯一标识</th>
    <th>租用企业</th>
    <th>合同编号</th>
    <th>月费用</th>
    <th>启用日期</th>
    <th>缴费状态</th>
    <th>使用状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ basicTable.data.indexOf(data) + 1 }}</td>
    <td>{{ data.robot.name }}</td>
    <td>{{ data.robot.id}}</td>

    <td>{{ data.companyId.id}}</td>
    <td>{{ data.contractId}}</td>
    <td>{{ data.costMonth}}</td>
    <td>{{ data.startTime | date:'yyyy-MM-dd'}}</td>
    <td>{{ data.paymentSituation}}</td>
    <td>{{ data.robot.use_situation}}</td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="showModa2(data)"><span>详情</span></button>
      <nz-modal [(nzVisible)]="isVisible2" nzTitle="详情" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleCancel2()">
        <label>机器人名称:&nbsp;</label> <input nz-input *ngIf="this.robot" [(ngModel)]="this.robot.name" />
        <label>唯一标识：</label> <input nz-input *ngIf="this.robot" [(ngModel)]="this.robot.id" />
        <label>归属企业:&nbsp;</label> <input nz-input *ngIf="this.robot" [(ngModel)]="this.robot.belongingCompany.name" />
        <label>租赁企业:&nbsp;</label> <input nz-input *ngIf="data.companyId" [(ngModel)]="data.companyId.name" />
        <label>联系人:&nbsp;</label> <input nz-input  [(ngModel)]="this.connector" />
        <label>合同编号:&nbsp;</label> <input nz-input  [(ngModel)]="this.contractId" />
        <label>月费用:&nbsp;</label> <input nz-input  [(ngModel)]="this.costMonth" />
        <label>缴费方式:&nbsp;</label> <input nz-input  [(ngModel)]="this.costWay" />
        <label>合同内容:&nbsp;</label> <input nz-input  [(ngModel)]="this.contract" />
      </nz-modal>
      <nz-divider nzType="vertical"></nz-divider>
        <button *ngIf="data.remind!=1" nz-button (click)="remind(data)">提醒</button>
        <button *ngIf="data.remind==1" nz-button (click)="cancleremind(data)">取消提醒</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button>续费</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button *ngIf="data.robot.use_situation=='未启用'" nz-button (click)="showModalVisible(data,1)">启用</button>
      <button *ngIf="data.robot.use_situation=='启用'" nz-button (click)="showModalVisible(data,2)">停用</button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button [nzType]="'primary'" (click)="showModal(data)" ><span>修改</span></button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="update" (nzOnCancel)="handleCancel()" (nzOnOk)="update()">
        <label>选择机器人所属公司:&nbsp;</label>
        <select [(ngModel)]="this.company" (change)="getRobotsByBelongingComapnyId(this.company.id)">
          <option *ngFor="let obj of companys" [ngValue]="obj">{{obj.name}}</option>
        </select><br>
        <label>选择机器人：</label>
        <!--  <input nz-input [(ngModel)]="this.robot" />-->
        <select [(ngModel)]="this.robot">
          <option *ngFor="let obj of robots" [ngValue]="obj">{{obj.name}}</option>
        </select><br>

        <label>租用公司:&nbsp;</label>
        <select [(ngModel)]="this.company1">
          <option *ngFor="let obj of companys1" [ngValue]="obj">{{obj.name}}</option>
        </select><br>
        <label>合同编号:&nbsp;</label> <input nz-input  [(ngModel)]="this.contractId" />
        <label>月费用:&nbsp;</label> <input nz-input  [(ngModel)]="this.costMonth" />
        <label>缴费方式:&nbsp;</label> <input nz-input  [(ngModel)]="this.costWay" />
        <label>上传合同:&nbsp;</label> <input nz-input  [(ngModel)]="this.contract" />
        <label>上传合同:&nbsp;</label> <input nz-input  [(ngModel)]="this.connector" />
      </nz-modal>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button [nzType]="'primary'" (click)="delete(data)"><span>删除</span></button>
    </td>
  </tr>
  </tbody>
</nz-table>
