<nz-table #basicTable [nzData]="benchDatas">
  <thead>
  <tr>
    <th>序号</th>
    <th>模台编号</th>
    <th>参数序列号</th>
    <th>设置时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.bench.number }}</td>
    <td>{{ data.number}}</td>
    <td>{{ data.time | date:'yyyy-MM-dd'}}</td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="delete(data)"><span>删除</span></button>
      <nz-divider nzType="vertical"></nz-divider>
      <a routerLink="/index/scgl/sccs/{{data.bench.id}}"><button nz-button ><span>生产参数</span></button></a>
    </td>
  </tr>
  </tbody>
</nz-table>
