<app-querylist (onQuery)="onquery($event)"></app-querylist>
<button nz-button [nzType]="'primary'" (click)="showModal1()"><span>增加</span></button>
<nz-modal [(nzVisible)]="isVisible1" nzTitle="add" (nzOnCancel)="handleCancel1()" (nzOnOk)="add()">
  <div><label>模台编号:&nbsp;</label> <input nz-input  [(ngModel)]="number" /></div>
  <div style="margin-top: 8px"><label>说明信息:&nbsp;</label> <input nz-input  [(ngModel)]="des" /></div>
  <div style="margin-top: 8px"><label>工作车间:&nbsp;</label> <input nz-input  [(ngModel)]="workshop" /></div>
</nz-modal>

<nz-table #basicTable [nzData]="benchs" nzBordered>
  <thead>
  <tr>
    <th>序号</th>
    <th>模台编号</th>
    <th>说明信息</th>
    <th>工作车间</th>
    <th>隶属机器人</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.id }}</td>
    <td>{{ data.number }}</td>
    <td>{{ data.description}}</td>
    <td>{{ data.workshop}}</td>
    <td>{{ data.robot.name}}</td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="delete(data)"><span>删除</span></button>
      <nz-divider nzType="vertical"></nz-divider>
      <button nz-button [nzType]="'primary'" (click)="showModal(data)"><span>修改</span></button>
    </td>

  </tr>
  </tbody>
</nz-table>
<nz-modal *ngIf="bench" [(nzVisible)]="isVisible" nzTitle="修改" (nzOnCancel)="handleCancel()" (nzOnOk)="update()">
  <div>
  <div>
    <label>模台编号:&nbsp;</label> <input nz-input [(ngModel)]="bench.number"/>
  </div>
  <div style="margin-top: 8px">
    <label>说明信息:&nbsp;</label> <input nz-input [(ngModel)]="bench.description"/>
  </div>
    <div style="margin-top: 8px">
    <label>工作车间:&nbsp;</label> <input nz-input [(ngModel)]="bench.workshop"/>
  </div>
    <div style="margin-top: 8px">
    <label>隶属机器人:&nbsp;</label>
      <select [(ngModel)]="bench.robot" [compareWith]="compareFn">
        <option *ngFor="let obj of robots" [ngValue]="obj" >{{obj.name}}</option>
      </select>
  </div>

  </div>
</nz-modal>
